@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
Accordion>li {
    background-color: red;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.flicker {
    animation: flicker 1s infinite;
}


/* Hide Scrollbar */

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}


/* Create tooltip arrow */

.tooltip-box::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    /* Center the arrow */
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    /* The arrow color */
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}